@value lem from './scale.css';
@value desktop from './breakpoints.css';

.blockquote {
  composes: default from './fonts.css';
  composes: large1 from './scale.css';
  text-align: center;
  margin: lem 0;
}

@media desktop {
  .blockquote {
    composes: large2 from './scale.css';
  }
}


p {
  word-wrap: break-word;
}

p + p {
  margin-top: lem;
}
