@value lem from './scale.css';
@value tablet from './breakpoints.css';
@value landscape from './breakpoints.css';





/**
 * Add a right margin for an article thumb
 */
@media landscape {
  .articleThumbRightMargin {
    margin-right: calc(lem * 2);
  }
}

/**
 * Article thumb size
 */
 .articleThumbSize {
   width: 100%;
 }

@media landscape {
  .articleThumbSize {
    width: calc(50% - calc(lem * 2));
  }
}

/**
 * The grid for an article thumb
 */
.articleThumbBottomMargin {
  margin-bottom: calc(lem * 2);
}

/**
 * The article padding
 */
.articlePadding {
  padding: lem;
}

@media tablet {
  .articlePadding {
    padding: calc(lem * 2);
  }
}

@media landscape {
  .articlePadding {
    padding: 5vh 5vw;
  }
}

/**
 * The default padding
 */
.defaultMargin {
  padding: lem;
}

@media tablet {
  .defaultMargin {
    padding: calc(lem * 2);
  }
}

@media landscape {
  .defaultMargin {
    padding: 5vh 10vw;
  }
}
