@value lem: 1.48em;

.default {
  font-size: 100%;
  line-height: 1.48;
}

.small1 {
  font-size: 0.75em;
}


.large1 {
  font-size: 1.333em;
}

.large2 {
  font-size: 1.777em;
}

.large3 {
  font-size: 2.369em;
}

.large4 {
  font-size: 3.157em;
}
