@value lem from './scale.css';
@value landscape from './breakpoints.css';
@value portrait from './breakpoints.css';

@media landscape {
  .skewForQuote {
    composes: default from './colors.css';
    composes: thinAll from './border.css';
    transform: skew(5deg);
    padding: lem;
    margin-top: lem;
    margin-bottom: lem;
  }
}

@media portrait {
  .skewForQuote {
    border: 0;
    transform: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}
