@value lem from './scale.css';
@value mobileAndUp from './breakpoints.css';

@value bodyTextWidth: calc(lem * 20);

.bodyText {
  max-width: bodyTextWidth;
  composes: p from './elements.css';
}

@media mobileAndUp {
  .articleBodyText {
    composes: light from './fonts.css';
    composes: large1 from './scale.css';
  }
}

.default {
  composes: default from './fonts.css';
  composes: default from './scale.css';
  composes: default from './colors.css';
  letter-spacing: 1.1px;
}

.logo {
  composes: logo from './fonts.css';
  display: inline-flex;
}

.link {
  composes: default from './colors.css';
}

.name {
  composes: bold from './fonts.css';
  composes: small1 from './scale.css';

  text-transform: uppercase;
  letter-spacing: calc(lem / 4);
  padding: calc(lem / 8) calc(lem / 4);
}

.title {
  composes: default from './fonts.css';
  text-transform: uppercase;
  letter-spacing: lem;
  line-height: 2.96;
}

.linkLinethrough {
  text-decoration: line-through;
  composes: default from './colors.css';
}

.linkLinethrough:hover,
.linkLinethrough:focus,
.linkLinethrough:active {
  text-decoration: none;
}
